.card {
	border-radius: 24px;
	position: relative;
	background-color: #101112;
	padding: 40px 32px;
	overflow: hidden;
	max-width: 356px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url('/img/cardBg1.png'), url('/img/cardBg2.png');
	background-repeat: no-repeat, no-repeat;
	background-position: top left, top right;
}

.card h3 {
	font-size: 22px;
	font-weight: 500;
	color: white;
	position: relative;
	z-index: 2;
	margin-bottom: 16px;
}

.card p {
	position: relative;
	z-index: 2;
}

.card_background1 {
	border-top-left-radius: 24px;
	position: absolute;
	top: -110px;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.card_background2 {
	border-top-right-radius: 24px;
	position: absolute;
	top: -110px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
