.button {
	display: flex;
	align-items: center;
	gap: 10px;
	font-weight: 600;
	max-width: fit-content;
	padding: 16px 24px;
	color: #6b2ea1;
	background-color: white;
	border-radius: 34px;
	cursor: pointer;
	transition: all 250ms ease;
	&:focus,
	&:hover {
		color: white;
		background-color: #ef97e8;
		box-shadow: 0 0 10px #ef97e8, 0 0 20px #ef97e8;
	}
}
