.hero {
	padding: 40px 0;
	background-color: black;
	@media screen and (min-width: 1140px) {
		background-image: url('/img/hero-image.png');
		background-repeat: no-repeat;
		background-position: right;
	}
}

.hero__inner {
	padding: 100px 0;
}

.hero__text {
	z-index: 2;
	max-width: 496px;
	color: white;
	margin-bottom: 40px;
	p {
		font-size: 14px;
	}
	h1 {
		font-size: 46px;
		font-weight: 700;
		text-transform: capitalize;
		margin: 8px 0 24px;
	}
}
.hero__image {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	max-width: 800px;
	pointer-events: none;
}

.hero__image img {
	width: 100%;
	height: auto;
	object-fit: contain;
}
